/*!*My Request Styles Format*!*/

/*!*align items*!*/
/*.container {*/
/*    !*display: flex;*!*/
/*    justify-content: space-between;*/
/*    padding: 20px;*/
/*    background-color: #D9D9D9;*/
/*    border-radius: 10px;*/
/*}*/

/*!*ToDo: delete when combine with submit form*!*/

/*!*.service-request-form {*!*/
/*!*    align-items: center;*!*/
/*!*}*!*/

/*.service-form {*/
/*    background-color: #F5F5F5;*/
/*    border-radius: 10px;*/
/*    padding: 20px;*/

/*}*/

/*!*My Request Style*!*/
/*.service-request-log {*/
/*    width: 55%;*/
/*    font-size: 14px;*/
/*    overflow-y: auto; !*scroll bar*!*/
/*    max-height: 400px;*/
/*}*/

/*!*Individual service request box*!*/
/*.request-box {*/
/*    margin-bottom: 20px;*/
/*    !*padding-bottom: 20px;*!*/
/*}*/

/*!*service request box paragraphs*!*/
/*.request-box p {*/
/*    margin: 5px 0;*/
/*}*/

/*!*horizontal divider line b/w each request*!*/
/*.request-box hr {*/
/*    border: none;*/
/*    border-top: 1px solid black;*/
/*    margin: 20px -20px;*/
/*}*/

/*!*My Requests container*!*/
/*.my-requests {*/
/*    padding: 20px;*/
/*    border-radius: 10px;*/
/*    background-color: #F5F5F5;*/
/*    color: black;*/
/*}*/

/*!*heading in My Requests*!*/
/*.my-requests h2 {*/
/*    margin-top: 0;*/
/*}*/

/*!*List items*!*/
/*!*ToDo: when combining make it specific for my requests*!*/
/*ul {*/
/*    list-style-type: none;*/
/*    padding: 0;*/
/*}*/

/*!*ToDo: when combining make it specific for my requests*!*/
/*li {*/
/*    margin-bottom: 10px;*/
/*}*/

/*!*ToDo: probably already done somewhere else*!*/
/*!* Style for buttons *!*/
/*button {*/
/*    border-radius: 30px;*/
/*    cursor: pointer;*/
/*    border: 2px solid ;*/
/*    background-color: white;*/
/*    color: black;*/
/*    padding: 5px 10px;*/
/*}*/

/*!* Style for buttons on hover *!*/
/*!*ToDo: I want a border to appear when I hover over button*!*/
/*button:hover {*/
/*    background-color: white; !* Change background color to white *!*/
/*    border-color: darkgoldenrod; !* Change border color to gold *!*/
/*}*/

/*!* ToDo: delete when combine with submission form *!*/
/*.form-item {*/
/*    margin-bottom: 10px;*/
/*}*/

/*!* ToDo: delete when combine with submission form *!*/
/*.form-item label {*/
/*    display: block;*/
/*    margin-bottom: 5px;*/
/*}*/

/*.active{*/
/*    background-color: darkgreen;*/
/*}*/

/*.availableServices{*/
/*    border-radius: 10px;*/
/*    border: 5px;*/
/*}*/

/*#successMessage{*/
/*    color: darkgreen;*/
/*    font-size: larger;*/
/*    text-align: center;*/
/*}*/
