/*.userTypeSelection {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*}*/

/*.userTypeSelection button {*/
/*    margin: 10px;*/
/*    border-radius: 15px;*/
/*    padding: 10px;*/
/*    width: 200px;*/
/*}*/

/*.loginForm {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*}*/

/*.loginForm label {*/
/*    margin: 10px;*/
/*}*/

/*.loginForm button {*/
/*    margin: 10px;*/
/*    border-radius: 15px;*/
/*    padding: 10px;*/
/*    width: 200px;*/
/*}*/
