@tailwind base;
@tailwind components;
@tailwind utilities;

/*:root {*/
/*  !*font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*!*/
/*  background-color: #ffffff;*/
/*  font-size: 18px;*/
/*  line-height: 1.4;*/

/*  font-synthesis: none;*/
/*  text-rendering: optimizeLegibility;*/
/*  -webkit-font-smoothing: antialiased;*/
/*  -moz-osx-font-smoothing: grayscale;*/
/*  -webkit-text-size-adjust: 100%;*/
/*}*/
/*body {*/
/*  width: 100%;*/
/*  height: 100%;*/
/*}*/
/*#root {*/
/*  display: flex;*/
/*  height: 100%;*/
/*  width: 100%;*/
/*}*/

/*.heading-text {*/
/*  font-size: 48px;*/
/*  line-height: 1.2;*/
/*  letter-spacing: -1.6px;*/
/*  font-weight: bold;*/
/*}*/

/*.text-block {*/
/*  max-width: 600px;*/
/*}*/

/*.example-component {*/
/*  background-color: cyan;*/
/*}*/
